body{
			background-image: url(./img/fundo.jpg);
			color:#FFF;
		}
		canvas{
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
			border:2px solid;
			background: #34495e;
		}

		#info{
			font-size:20px;
		}
			#meteor{
			font-size:20px;
		}
		#restart{
			position: absolute;
			width:150px;
			height: 40px;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
			display: none;
			cursor: pointer;
			border:none;
			font-size:20px;
		}

		#start{
			position: absolute;
			width:150px;
			height: 40px;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
			display: block;
			cursor: pointer;
			border:none;
			font-size:20px;
		}

		button:hover{
			background-color: #c6c6c6;
		}

		h3{
			font-family: trebuchet MS;
		}
		.info{
			float:left;
			margin-left:25px;
		}

		.btn-info{
			width:50;
			height: 30px;
			border:none;
			outline: none;
			background-color: #FFF;
		}
